table{
  border-collapse: collapse;
  box-shadow:0 5px 10px rgb(226, 222, 222);
  background-color: white;
  text-align: center;
  overflow: hidden;
}
thead{
  box-shadow:0 1px 10px rgb(193, 193, 193);
}
th{
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 900;
}
td{
  padding: 1rem 2rem;
  letter-spacing: 0.09rem;
  font-size: 1rem;
}

#liberty-heading{
  padding: 0.9rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 750;

}

nav{
  box-shadow:1px 0.5px 9px #888888;
}

